<div class="container">

    <h1>ManageMe</h1>
    <h2>John Doe</h2>
    <hr>

    <form (ngSubmit)="onFunctionalitySubmit(functionalityForm)" #functionalityForm="ngForm" *ngIf="showFunctionalityForm">
        <div class="form-group">
            <label for="functionalityName">Functionality Name</label>
            <input type="text" class="form-control" id="functionalityName" placeholder="Enter functionality name" ngModel name="functionalityName" required>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    
    <button (click)="toggleFunctionalityForm()" class="btn btn-secondary">Dodaj funkcjonalność</button>

    <hr>
    
    <label for="functionalityFilter">Wybierz funkcjonalność:</label>
    <select class="form-control" id="functionalityFilter" [(ngModel)]="selectedFunctionality">
        <option value="">-- Wybierz --</option>
        <option *ngFor="let functionality of functionalityArray" [value]="functionality">{{ functionality }}</option>
    </select>
    
    <hr>
    
    <div *ngIf="selectedFunctionality">
        <h3>Wybrana funkcjonalność: {{ selectedFunctionality }}</h3>
    </div>

    <button class="btn btn-primary" (click)="showTaskForm = true">Dodaj zadanie</button>

    <div *ngIf="showTaskForm">
        <h3>Dodaj nowe zadanie</h3>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" class="form-control" id="task" placeholder="Enter task" ngModel name="task" required>
            <label for="type">Type</label>
            <input type="text" class="form-control" id="type" placeholder="Enter Type" ngModel name="type" required>
            <label for="describe">Describe</label>
            <input type="text" class="form-control" id="describe" placeholder="Enter Describe" ngModel name="describe" required>
            <label for="priority">Priority</label>
            <input type="text" class="form-control" id="priority" placeholder="Enter Priority" ngModel name="priority" required>
            <label for="effort">Effort</label>
            <input type="text" class="form-control" id="effort" placeholder="Enter Effort" ngModel name="effort" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required
                fields</small>
        </div>
        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Type</th>
                <th scope="col">Describe</th>
                <th scope="col">Priority</th>
                <th scope="col">Effort</th>
                <th scope="col">Status</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td>{{t.taskName}}</td>
                <td>{{t.tasktype}}</td>
                <td>{{t.taskdescribe}}</td>
                <td>{{t.taskpriority}}</td>
                <td>{{t.taskeffort}}</td>
                <select class="form-control" [(ngModel)]="t.taskStatus">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                  </select>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
                <td><button class="btn btn-warning btn-sm" (click)="onEdit(i)">Edit</button></td>
            </tr>

        </tbody>
    </table>

<table class="table">
    <thead>
        <h1>Podsumowanie</h1>
      <tr>
        <th scope="col">To Do</th>
        <th scope="col">In Progress</th>
        <th scope="col">Done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ countTasksByStatus('To Do') }}</td>
        <td>{{ countTasksByStatus('In Progress') }}</td>
        <td>{{ countTasksByStatus('Done') }}</td>
      </tr>
    </tbody>
  </table>
</div>