<div class="container">

    <h1>ManageMe</h1>
    <h2>John Doe</h2>
    
    <hr>
    
    <label for="functionalityFilter">Wybierz funkcjonalność:</label>
    <select class="form-control" id="functionalityFilter" [(ngModel)]="selectedFunctionality">
        <option value="">Prace Organizacyjne</option>
        <option *ngFor="let functionality of functionalityArray" [value]="functionality">{{ functionality }}</option>
    </select>
    
    <hr>

    <form (ngSubmit)="onFunctionalitySubmit(functionalityForm)" #functionalityForm="ngForm" *ngIf="showFunctionalityForm">
        <div class="form-group">
            <h3>{{ functionalityEditMode ? 'Edytuj funkcjonalność' : 'Dodaj nową funkcjonalność' }}</h3>
            <label for="functionalityName">Functionality Name</label>
            <input type="text" class="form-control" id="functionalityName" placeholder="Enter functionality name" ngModel name="functionalityName" required>
            <label for="describe">Describe</label>
            <input type="text" class="form-control" id="describe" placeholder="Enter Describe" ngModel name="describe" required>
            <label for="priority">Priority</label>
            <input type="text" class="form-control" id="priority" placeholder="Enter Priority" ngModel name="priority" required>
            <button id="submitFunctionality" type="submit"  class="btn btn-primary">Submit</button>
        </div>
    </form>


    <div class="FunctionalityButtons">
        <button (click)="addFunctionalityForm()" class="btn btn-secondary">Dodaj funkcjonalność</button>
        <button (click)="editFunctionalityForm()" class="btn btn-warning">Edytj wybraną funkcjonalność</button>
        <button (click)="infoFunctionalityForm()" class="btn btn-info">Więcej informacji o wybranej funkcjonalności</button>
        <button (click)="deleteFunctionalityForm()" class="btn btn-danger">Usuń wybraną funkcjonalność</button>
    </div>

   
    <hr>
    

    <button class="btn btn-primary" (click)="showTaskForm = true">Dodaj zadanie</button>

    <div *ngIf="showTaskForm">
        <h3>{{ taskEditMode ? 'Edytuj zadanie' : 'Dodaj nowe zadanie' }}</h3>
        <form (ngSubmit)="taskEditMode ? onUpdate(taskForm) : onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" class="form-control" id="task" placeholder="Enter task" ngModel name="task" required>
            <label for="type">Type</label>
            <input type="text" class="form-control" id="type" placeholder="Enter Type" ngModel name="type" required>
            <label for="describe">Describe</label>
            <input type="text" class="form-control" id="describe" placeholder="Enter Describe" ngModel name="describe" required>
            <label for="priority">Priority</label>
            <input type="text" class="form-control" id="priority" placeholder="Enter Priority" ngModel name="priority" required>
            <label for="effort">Effort</label>
            <input type="text" class="form-control" id="effort" placeholder="Enter Effort" ngModel name="effort" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required
                fields</small>
        </div>
        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Type</th>
                <th scope="col">Describe</th>
                <th scope="col">Priority</th>
                <th scope="col">Effort</th>
                <th scope="col">Status</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td>{{t.name}}</td>
                <td>{{t.type}}</td>
                <td>{{t.description}}</td>
                <td>{{t.priority}}</td>
                <td>{{t.effort}}</td>
                <select class="form-control" [(ngModel)]="t.taskStatus">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                  </select>
                <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
                <td><button class="btn btn-warning btn-sm" (click)="onEdit(i)">Edit</button></td>
                <td><button class="btn btn-info btn-sm" (click)="openTaskInfoDialog(i)">Info</button></td>
            </tr>

        </tbody>
    </table>

    

    <div *ngIf="taskInfoDialogOpen" >
        <a href="#popup" class="btn">Click Here</a>
    <div id="popup" class="popup">
        <a href="#" class="close">&times;</a>
        <h2>Title Popup</h2>
        <p>L.</p>
    </div>
<a href="#" class="close-popup"></a>
    </div>
        

<table class="table">
    <thead>
        <h1>Podsumowanie</h1>
      <tr>
        <th scope="col">To Do</th>
        <th scope="col">In Progress</th>
        <th scope="col">Done</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ countTasksByStatus('To Do') }}</td>
        <td>{{ countTasksByStatus('In Progress') }}</td>
        <td>{{ countTasksByStatus('Done') }}</td>
      </tr>
    </tbody>
  </table>
</div>